{% embed "base.html.twig" %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ BASE_PATH }}/public/js/search/view/back.js"></script>
    {% endblock %}
    {% block css %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ BASE_PATH }}/public/css/view/default.css">
    {% endblock %}
    {% block content %}
        {% embed "/view/part/title.html.twig" %}
        {% endembed %}
        {% embed "/view/part/header.html.twig" %}
        {% endembed %}
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox" />
                <label for="ac-1">SEEDLING DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Germination period<br>(no. of days from sowing to first germination)</div>
                            <div class="css_td">{{ data.GERMPD }}</div>
                        </div>                        
                        <div class="css_tr">
                            <div class="css_td">Hypocotyl color</div>
                            <div class="css_td">{{ data.HYPCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Cotyledon color</div>
                            <div class="css_td">{{ data.COTCOL }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" />
                <label for="ac-2">VEGETATIVE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Plant height (cm)<br>(at commercial marketing stage)</div>
                            <div class="css_td">{{ data.PLHT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Plant width (cm)<br>(at commercial marketing stage)</div>
                            <div class="css_td">{{ data.PLWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Odd-pinnate leaf length (cm)<br>(at commercial marketing stage)</div>
                            <div class="css_td">{{ data.OPLFLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Odd-pinnate leaf width (cm)<br>(at commercial marketing stage)</div>
                            <div class="css_td">{{ data.OPLFWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Odd-pinnate leaflet length (cm)<br>(at commercial marketing stage)</div>
                            <div class="css_td">{{ data.OPLFLLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Odd-pinnate leaflet width (cm)<br>(at commercial marketing stage)</div>
                            <div class="css_td">{{ data.OPLFLWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf color</div>
                            <div class="css_td">{{ data.LFCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf pubescence (upper surface)</div>
                            <div class="css_td">{{ data.LFPUB }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem color</div>
                            <div class="css_td">{{ data.STCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem pubescence</div>
                            <div class="css_td">{{ data.STPUB }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">INFLORESCENCE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Days to flowering<br>(from sowing to 50% with inflorescence)</div>
                            <div class="css_td">{{ data.DAYSFLO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Flower color</div>
                            <div class="css_td">{{ data.FLOCOL }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-4" name="accordion-1" type="checkbox" />
                <label for="ac-4">FRUIT & SEED DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Number of seeds per capsule</div>
                            <div class="css_td">{{ data.NOSDPCAP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Seed color</div>
                            <div class="css_td">{{ data.SDCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">1000 seeds weight (gm)</div>
                            <div class="css_td">{{ data.SDWT }}</div>
                        </div>
                    </div>
                </article>
            </div>             
        </section>
    {% endblock %}
{% endembed %}