{% embed "base.html.twig" %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ BASE_PATH }}/public/js/search/view/back.js"></script>
    {% endblock %}
    {% block css %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ BASE_PATH }}/public/css/view/default.css">
    {% endblock %}
    {% block content %}
        {% embed "/view/part/title.html.twig" %}
        {% endembed %}
        {% embed "/view/part/header.html.twig" %}
        {% endembed %}
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox" />
                <label for="ac-1">SEEDLING DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Germination period<br>(no. of days from sowing to first germination)</div>
                            <div class="css_td">{{ data.GERMPD }}</div>
                        </div>                        
                        <div class="css_tr">
                            <div class="css_td">Hypocotyl color</div>
                            <div class="css_td">{{ data.HYPCOL }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" />
                <label for="ac-2">VEGETATIVE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Plant height (cm)<br>(at flowering stage)</div>
                            <div class="css_td">{{ data.PLHT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem pigmentation</div>
                            <div class="css_td">{{ data.STPIG }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf length (cm)<br>(on 6th or 8th leaf)</div>
                            <div class="css_td">{{ data.LFLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf width (cm)<br>(on 6th or 8th leaf)</div>
                            <div class="css_td">{{ data.LFWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf pubescence</div>
                            <div class="css_td">{{ data.LFPUB }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf shape</div>
                            <div class="css_td">{{ data.LFSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf margin</div>
                            <div class="css_td">{{ data.LFMGN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Prominence of leaf veins</div>
                            <div class="css_td">{{ data.PRLFVN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petiole pigmentation</div>
                            <div class="css_td">{{ data.PETPIG }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">INFLORESCENCE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Days to flowering<br>(from sowing to 50% with inflorescence)</div>
                            <div class="css_td">{{ data.DAYSFLO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Terminal inflorescence stalk length (cm)</div>
                            <div class="css_td">{{ data.TISTKLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Terminal inflorescence laterals length (cm)</div>
                            <div class="css_td">{{ data.TIINLLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Terminal inflorescence shape</div>
                            <div class="css_td">{{ data.TINFSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Inflorescence density index</div>
                            <div class="css_td">{{ data.INFDINDX }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Inflorescence color</div>
                            <div class="css_td">{{ data.INFCOL }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-4" name="accordion-1" type="checkbox" />
                <label for="ac-4">SEED DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Seed color</div>
                            <div class="css_td">{{ data.SDCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Seed coat type</div>
                            <div class="css_td">{{ data.SDCTTYP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Seed shape</div>
                            <div class="css_td">{{ data.SDSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">1000 seeds weight (gm)</div>
                            <div class="css_td">{{ data.SDWT }}</div>
                        </div>
                    </div>
                </article>
            </div>            
        </section>
    {% endblock %}
{% endembed %}