{% embed "base.html.twig" %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ BASE_PATH }}/public/js/search/view/back.js"></script>
    {% endblock %}
    {% block css %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ BASE_PATH }}/public/css/view/default.css">
    {% endblock %}
    {% block content %}
        {% embed "/view/part/title.html.twig" %}
        {% endembed %}
        {% embed "/view/part/header.html.twig" %}
        {% endembed %}
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox" />
                <label for="ac-1">SEEDLING DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Germination period<br>(no. of days from sowing to first germination)</div>
                            <div class="css_td">{{ data.GERMPD }}</div>
                        </div>                        
                        <div class="css_tr">
                            <div class="css_td">Hypocotyl color</div>
                            <div class="css_td">{{ data.HYPCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Cotyledon color</div>
                            <div class="css_td">{{ data.COTCOL }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" />
                <label for="ac-2">VEGETATIVE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Plant growth habit</div>
                            <div class="css_td">{{ data.PLGRHBT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Plant height (cm)</div>
                            <div class="css_td">{{ data.PLHT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Plant diameter (cm)</div>
                            <div class="css_td">{{ data.PLDIA }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Number of leaves from base to top at flowering stage</div>
                            <div class="css_td">{{ data.NOLVFLOS }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf color</div>
                            <div class="css_td">{{ data.LFCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf length (cm)</div>
                            <div class="css_td">{{ data.LFLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf width (cm)</div>
                            <div class="css_td">{{ data.LFWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petiole color</div>
                            <div class="css_td">{{ data.PETCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petiole aromatic</div>
                            <div class="css_td">{{ data.PETARO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petiole thickness (cm)</div>
                            <div class="css_td">{{ data.PETTHIC }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Characteristic of petiole</div>
                            <div class="css_td">{{ data.CHARPET }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">INFLORESCENCE & SEED DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Days to flowering<br>(days from sowing to 50% of flowering)</div>
                            <div class="css_td">{{ data.DAYSFLO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Seed shape</div>
                            <div class="css_td">{{ data.SDSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Seed color</div>
                            <div class="css_td">{{ data.SDCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">1000 seeds weight (gm)</div>
                            <div class="css_td">{{ data.SDWT }}</div>
                        </div>
                    </div>
                </article>
            </div>            
        </section>
    {% endblock %}
{% endembed %}