{% embed "base.html.twig" %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ BASE_PATH }}/public/js/search/view/back.js"></script>
    {% endblock %}
    {% block css %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ BASE_PATH }}/public/css/view/default.css">
    {% endblock %}
    {% block content %}
        {% embed "/view/part/title.html.twig" %}
        {% endembed %}
        {% embed "/view/part/header.html.twig" %}
        {% endembed %}
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox" />
                <label for="ac-1">SEEDLING DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Seed germination ability<br>(number of days from sowing to 50% emergence)</div>
                            <div class="css_td">{{ data.SDGAB }}</div>
                        </div>                        
                        <div class="css_tr">
                            <div class="css_td">Cotyledon color</div>
                            <div class="css_td">{{ data.COTCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Cotyledon shape</div>
                            <div class="css_td">{{ data.COTSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Hypocotyl color</div>
                            <div class="css_td">{{ data.HYPCOL }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" />
                <label for="ac-2">VEGETATIVE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Plant attitude<br>(at harvesting time)</div>
                            <div class="css_td">{{ data.PLATT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Earliness<br>(days from seed sowing to harvesting time)</div>
                            <div class="css_td">{{ data.PLEAR }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Tillers</div>
                            <div class="css_td">{{ data.TILLER }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem color<br>(at harvesting time)</div>
                            <div class="css_td">{{ data.STCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem wart<br>(at harvesting time)</div>
                            <div class="css_td">{{ data.STWAT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem shape<br>(at harvesting time)</div>
                            <div class="css_td">{{ data.STSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem length of internodes (cm)<br>(between 4th and 5th leaf from the bottom at harvesting time)</div>
                            <div class="css_td">{{ data.STLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Adventitious root on node<br>(at harvesting time)</div>
                            <div class="css_td">{{ data.ADRTNO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf length<br>(the biggest leaf at harvesting time) (cm) (N=10)</div>
                            <div class="css_td">{{ data.LFLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf width<br>(the biggest leaf at harvesting time) (cm) (N=10)</div>
                            <div class="css_td">{{ data.LFWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf color<br>(the biggest leaf at harvesting time)</div>
                            <div class="css_td">{{ data.LFCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf shape<br>(the biggest leaf at harvesting time)</div>
                            <div class="css_td">{{ data.LFSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petiole length<br>(the biggest leaf at harvesting time) (cm) (N=10)</div>
                            <div class="css_td">{{ data.PETLEN }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">INFLORESCENCE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Flower earliness<br>(days from sowing to flowering time)</div>
                            <div class="css_td">{{ data.FLOEAR }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Flower color</div>
                            <div class="css_td">{{ data.FLCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Flower length (cm) (N=10)</div>
                            <div class="css_td">{{ data.FLLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Flower width (cm) (N=10)</div>
                            <div class="css_td">{{ data.FLWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petal type</div>
                            <div class="css_td">{{ data.PETTYP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Sepal color</div>
                            <div class="css_td">{{ data.SEPCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Sepal length (cm) (N=10)</div>
                            <div class="css_td">{{ data.SEPLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Sepal pubescence</div>
                            <div class="css_td">{{ data.SEPPUB }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-4" name="accordion-1" type="checkbox" />
                <label for="ac-4">FRUIT & SEED DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Fruit Size<br>(the longest diameter) (cm) (N=10)</div>
                            <div class="css_td">{{ data.FRSIZE }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Fruit set</div>
                            <div class="css_td">{{ data.FRSET }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Number of seeds per capsule (N=10)</div>
                            <div class="css_td">{{ data.SDNOPC }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Seed color</div>
                            <div class="css_td">{{ data.SDCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">1000 seeds weight (gm)</div>
                            <div class="css_td">{{ data.SDWT }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-5" name="accordion-1" type="checkbox" />
                <label for="ac-5">OTHER CHARACTERISTICS</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Adaptabilty for hot season</div>
                            <div class="css_td">{{ data.ADHOT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Adaptability for cold season</div>
                            <div class="css_td">{{ data.ADCOLD }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Yielding ability</div>
                            <div class="css_td">{{ data.YIELDABI }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Dormancy</div>
                            <div class="css_td">{{ data.DORMAN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Storage ability</div>
                            <div class="css_td">{{ data.STOABI }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Functional characteristics</div>
                            <div class="css_td">{{ data.FUNCCHAR }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Edible parts</div>
                            <div class="css_td">{{ data.EDIPART }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Edible condition</div>
                            <div class="css_td">{{ data.EDICOND }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Edible quality</div>
                            <div class="css_td">{{ data.EDIQUA }}</div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    {% endblock %}
{% endembed %}