{% embed "base.html.twig" %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ BASE_PATH }}/public/js/search/view/back.js"></script>
    {% endblock %}
    {% block css %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ BASE_PATH }}/public/css/view/default.css">
    {% endblock %}
    {% block content %}
        {% embed "/view/part/title.html.twig" %}
        {% endembed %}
        {% embed "/view/part/header.html.twig" %}
        {% endembed %}
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox" />
                <label for="ac-1">SEEDLING DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Anthocyanin coloration of hypocotyl</div>
                            <div class="css_td">{{ data.ANTCOHYP }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" />
                <label for="ac-2">VEGETATIVE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Plant growth habit</div>
                            <div class="css_td">{{ data.PLGRHBT }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Stem color</div>
                            <div class="css_td">{{ data.STCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Mature leaf length (cm)</div>
                            <div class="css_td">{{ data.MATLFLEN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Mature leaf width (cm)</div>
                            <div class="css_td">{{ data.MATLFWID }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf blade tip angle</div>
                            <div class="css_td">{{ data.LFBLTAN }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Length of petiole (mm)</div>
                            <div class="css_td">{{ data.LENPET }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Width of petiole (mm)</div>
                            <div class="css_td">{{ data.WIDPET }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf shape</div>
                            <div class="css_td">{{ data.LFSHP }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf color</div>
                            <div class="css_td">{{ data.LFCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Leaf pigmentation</div>
                            <div class="css_td">{{ data.LFPIG }}</div>
                        </div>
                    </div>
                </article>
            </div>
            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">INFLORESCENCE DATA</label>
                <article>
                    <div class="css_table">
                        <div class="css_tr">
                            <div class="css_td">Days to flower<br>(no. of days from sowing until 50% of plants have the most flowers)</div>
                            <div class="css_td">{{ data.DAYSFLO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Length of pedicel (cm)</div>
                            <div class="css_td">{{ data.LENPED }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Width of pedicel (mm)</div>
                            <div class="css_td">{{ data.WIDPED }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Pedicel color</div>
                            <div class="css_td">{{ data.PEDCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Number of petal</div>
                            <div class="css_td">{{ data.NUMPET }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Petal color</div>
                            <div class="css_td">{{ data.PETCOL }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Height of inflorescence (mm)</div>
                            <div class="css_td">{{ data.HTINFLO }}</div>
                        </div>
                        <div class="css_tr">
                            <div class="css_td">Width of inflorescence (mm)</div>
                            <div class="css_td">{{ data.WIDINFLO }}</div>
                        </div>
                    </div>
                </article>
            </div>                        
        </section>
    {% endblock %}
{% endembed %}