<div id='editorMain'>
    <div data-type='VINO'><div>Vegetable introduction number:</div><div><input id="disVINO" type="text" placeholder="VINO" disabled /><input id="inputVINO" type="text"><button id="searchVINO" class="button" data-status="search" title="Search VINO From Passport"></button></div></div>
    <div data-type='VARIANT'><div>Variant:</div><div><input type="text" placeholder="VARIANT" /></div></div>
    <div data-type='ACCNO'><div>Crop accession number:</div><div><input id="ACCNO" type="text" placeholder="ACCNO" disabled /></div></div>
    <div data-type='SPECIES'><div>Species:</div><div><input id="SPECIES" type="text" placeholder="SPECIES" disabled /></div></div>
    <div data-type='DUPLIC'><div>Duplicate note:</div><div><input id="DUPLIC" type="text" placeholder="DUPLIC" disabled /></div></div>
    <div data-type='SUBTAXA'><div>Subtaxa:</div><div><input id="SUBTAXA" type="text" placeholder="SUBTAXA" disabled /></div></div>
    <div data-type='TEMPNO'><div>Temporary number:</div><div><input id="TEMPNO" type="text" placeholder="TEMPNO" disabled /></div></div>
    <div data-type='YRSN'><div>Char. year & season:</div><div><input type="text" placeholder="YRSN" /></div></div>
</div>
<div id='editorOther' class="tabs tabs-style-line csh4">
    <nav>
        <ul>            
            <li><a href="#section-line-1"><span>SEEDLING DATA</span></a></li>
            <li><a href="#section-line-2"><span>VEGETATIVE DATA</span></a></li>
            <li><a href="#section-line-3"><span>INFLORESCENCE DATA</span></a></li>
            <li><a href="#section-line-4"><span>FRUIT DATA</span></a></li>
            <li><a href="#section-line-5"><span>SEED DATA</span></a></li>
                {% if SESSION.user.JURISDICTION == 0 %}
                <li><a href="#section-line-6"><span>Photo</span></a></li>
                {% endif %}
        </ul>
    </nav>
    <div class="content-wrap">
        <section id="section-line-1">
            <div data-type='GERMPD'><div>Germination period:</div><div><input type="number" step="1" min="0" placeholder="GERMPD" /></div></div>
            <div data-type='COTCOL'><div>Cotyledon color:</div><div>
                    <select>
                        <option value="">* COTCOL *</option>
                        {% for item in related.COTCOL %}
                            <option value="{{ item.REFNO }}">{{ item.COTCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='COTSZE'><div>Cotyledon size:</div><div>
                    <select>
                        <option value="">* COTSZE *</option>
                        {% for item in related.COTSZE %}
                            <option value="{{ item.REFNO }}">{{ item.COTSZE }}</option>
                        {% endfor %}
                    </select></div></div>
        </section>
        <section id="section-line-2">
            <div data-type='LFBLSHP'><div>Leaf blade shape:</div><div>
                    <select>
                        <option value="">* LFBLSHP *</option>
                        {% for item in related.LFBLSHP %}
                            <option value="{{ item.REFNO }}">{{ item.LFBLSHP }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='LFBLLOB'><div>Leaf blade lobbing:</div><div>
                    <select>
                        <option value="">* LFBLLOB *</option>
                        {% for item in related.LFBLLOB %}
                            <option value="{{ item.REFNO }}">{{ item.LFBLLOB }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='LFBLMGN'><div>Leaf blade margin:</div><div>
                    <select>
                        <option value="">* LFBLMGN *</option>
                        {% for item in related.LFBLMGN %}
                            <option value="{{ item.REFNO }}">{{ item.LFBLMGN }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='LFBLTIP'><div>Leaf blade tip:</div><div>
                    <select>
                        <option value="">* LFBLTIP *</option>
                        {% for item in related.LFBLTIP %}
                            <option value="{{ item.REFNO }}">{{ item.LFBLTIP }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='LFLEN'><div>Leaf length (cm):</div><div><input type="number" step="0.01" min="0" placeholder="LFLEN" /></div></div>
            <div data-type='LFWID'><div>Leaf width (cm):</div><div><input type="number" step="0.01" min="0" placeholder="LFWID" /></div></div>
            <div data-type='NOLOBE'><div>Number of lobe:</div><div><input type="number" step="0.01" min="0" placeholder="NOLOBE" /></div></div>
            <div data-type='PLGRHBT'><div>Plant growth habit:</div><div>
                    <select>
                        <option value="">* PLGRHBT *</option>
                        {% for item in related.PLGRHBT %}
                            <option value="{{ item.REFNO }}">{{ item.PLGRHBT }}</option>
                        {% endfor %}
                    </select></div></div>
        </section>
        <section id="section-line-3">
            <div data-type='DAYSFLO'><div>Days to flowering (female):</div><div><input type="number" step="1" min="0" placeholder="DAYSFLO" /></div></div>
            <div data-type='OVLEN'><div>Ovary length (cm) (select ovary just after flowering):</div><div><input type="number" step="0.01" min="0" placeholder="OVLEN" /></div></div>
            <div data-type='OVWID'><div>Ovary width (cm) (select ovary just after flowering):</div><div><input type="number" step="0.01" min="0" placeholder="OVWID" /></div></div>
            <div data-type='OVSHP'><div>Ovary shape:</div><div>
                    <select>
                        <option value="">* OVSHP *</option>
                        {% for item in related.OVSHP %}
                            <option value="{{ item.REFNO }}">{{ item.OVSHP }}</option>
                        {% endfor %}
                    </select></div></div>
        </section>
        <section id="section-line-4">
            <div data-type='DAYSHARC'><div>Days to harvesting at commercial stage:</div><div><input type="number" step="1" min="0" placeholder="DAYSHARC" /></div></div>
            <div data-type='FRCOLC'><div>Fruit color at commercial stage:</div><div>
                    <select>
                        <option value="">* FRCOLC *</option>
                        {% for item in related.FRCOLC %}
                            <option value="{{ item.REFNO }}">{{ item.FRCOLC }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='FRWTC'><div>Fruit weight (gm) (measure at commercial stage):</div><div><input type="number" step="0.01" min="0" placeholder="FRWTC" /></div></div>
            <div data-type='FRLEN'><div>Fruit length (cm) (measure at commercial stage):</div><div><input type="number" step="0.01" min="0" placeholder="FRLEN" /></div></div>
            <div data-type='FRWID'><div>Fruit width (cm) (measure at commercial stage):</div><div><input type="number" step="0.01" min="0" placeholder="FRWID" /></div></div>
            <div data-type='FRWTHIC'><div>Fruit wall thickness (cm) (measure at commercial stage):</div><div><input type="number" step="0.01" min="0" placeholder="FRWTHIC" /></div></div>
            <div data-type='NOLOCU'><div>Number of locules:</div><div><input type="number" step="0.01" min="0" placeholder="NOLOCU" /></div></div>
            <div data-type='DAYSHARM'><div>Days to harvesting at physiological (mature) stage:</div><div><input type="number" step="1" min="0" placeholder="DAYSHARM" /></div></div>
            <div data-type='FRCOLM'><div>Fruit color at physiological (mature) stage:</div><div>
                    <select>
                        <option value="">* FRCOLM *</option>
                        {% for item in related.FRCOLM %}
                            <option value="{{ item.REFNO }}">{{ item.FRCOLM }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='FRWTM'><div>Fruit weight (gm) at physiological (mature) stage:</div><div><input type="number" step="0.01" min="0" placeholder="FRWTM" /></div></div>
            <div data-type='FRSHP'><div>Fruit shape:</div><div>
                    <select>
                        <option value="">* FRSHP *</option>
                        {% for item in related.FRSHP %}
                            <option value="{{ item.REFNO }}">{{ item.FRSHP }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='FRSTR'><div>Fruit streaks:</div><div>
                    <select>
                        <option value="">* FRSTR *</option>
                        {% for item in related.FRSTR %}
                            <option value="{{ item.REFNO }}">{{ item.FRSTR }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='FRSTRCOL'><div>Fruit streaks color:</div><div>
                    <select>
                        <option value="">* FRSTRCOL *</option>
                        {% for item in related.FRSTRCOL %}
                            <option value="{{ item.REFNO }}">{{ item.FRSTRCOL }}</option>
                        {% endfor %}
                    </select></div></div>
        </section>
        <section id="section-line-5">
            <div data-type='SDCOL'><div>Seed color:</div><div>
                    <select>
                        <option value="">* SDCOL *</option>
                        {% for item in related.SDCOL %}
                            <option value="{{ item.REFNO }}">{{ item.SDCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='SDSHP'><div>Seed shape:</div><div>
                    <select>
                        <option value="">* SDSHP *</option>
                        {% for item in related.SDSHP %}
                            <option value="{{ item.REFNO }}">{{ item.SDSHP }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='SDLEN'><div>Seed length (mm):</div><div><input type="number" step="0.01" min="0" placeholder="SDLEN" /></div></div>
            <div data-type='SDWID'><div>Seed width (mm):</div><div><input type="number" step="0.01" min="0" placeholder="SDWID" /></div></div>
            <div data-type='SDTHIC'><div>Seed thickness (mm):</div><div><input type="number" step="0.01" min="0" placeholder="SDTHIC" /></div></div>
            <div data-type='SKSDCT'><div>Skin of seed coat:</div><div>
                    <select>
                        <option value="">* SKSDCT *</option>
                        {% for item in related.SKSDCT %}
                            <option value="{{ item.REFNO }}">{{ item.SKSDCT }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='NOSDSPF'><div>Number of seed per fruit (at physiological stage):</div><div><input type="number" step="0.01" min="0" placeholder="NOSDSPF" /></div></div>
            <div data-type='SDWT'><div>100 seeds weight (gm):</div><div><input type="number" step="0.01" min="0" placeholder="SDWT" /></div></div>
        </section>
        {% if SESSION.user.JURISDICTION == 0 %}
            <section id="section-line-6">
                {% embed "/manager/db/editors/picture/picture.html.twig" %}
                {% endembed %}
            </section>
        {% endif %}
    </div><!-- /content -->
</div><!-- /tabs -->