<div id='editorMain'>
    <div data-type='VINO'><div>Vegetable introduction number:</div><div><input id="disVINO" type="text" placeholder="VINO" disabled /><input id="inputVINO" type="text"><button id="searchVINO" class="button" data-status="search" title="Search VINO From Passport"></button></div></div>
    <div data-type='VARIANT'><div>Variant:</div><div><input type="text" placeholder="VARIANT" /></div></div>
    <div data-type='ACCNO'><div>Crop accession number:</div><div><input type="text" placeholder="ACCNO" disabled /></div></div>
    <div data-type='SPECIES'><div>Species:</div><div><input type="text" placeholder="SPECIES" disabled /></div></div>
    <div data-type='DUPLIC'><div>Duplicate note:</div><div><input type="text" placeholder="DUPLIC" disabled /></div></div>
    <div data-type='SUBTAXA'><div>Subtaxa:</div><div><input type="text" placeholder="SUBTAXA" disabled /></div></div>
    <div data-type='TEMPNO'><div>Temporary number:</div><div><input type="text" placeholder="TEMPNO" disabled /></div></div>
    <div data-type='YRSN'><div>Char. year & season:</div><div><input type="text" placeholder="YRSN" /></div></div>
</div>
<div id='editorOther' class="tabs tabs-style-line csh4">
    <nav>
        <ul>            
            <li><a href="#section-line-1"><span>VEGETATIVE DATA</span></a></li>
            <li><a href="#section-line-2"><span>INFLORESCENCE DATA</span></a></li>
            <li><a href="#section-line-3"><span>FRUIT DATA</span></a></li>
            <li><a href="#section-line-4"><span>SEED DATA</span></a></li>
                {% if SESSION.user.JURISDICTION == 0 %}
                <li><a href="#section-line-5"><span>Photo</span></a></li>
                {% endif %}
        </ul>
    </nav>
    <div class="content-wrap">
        <section id="section-line-1">
            <div data-type='GERMPD'><div>Germination period:</div><div><input type="number" step="1" min="0" placeholder="GERMPD" /></div></div>
            <div data-type='GHBT'><div>Growth habit:</div><div>
                    <select>
                        <option value="">* GHBT *</option>
                        {% for item in related.GHBT %}
                            <option value="{{ item.REFNO }}">{{ item.GHBT }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='STCOL'><div>Stem color:</div><div>
                    <select>
                        <option value="">* STCOL *</option>
                        {% for item in related.STCOL %}
                            <option value="{{ item.REFNO }}">{{ item.STCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='LFCOL'><div>Leaf color:</div><div>
                    <select>
                        <option value="">* LFCOL *</option>
                        {% for item in related.LFCOL %}
                            <option value="{{ item.REFNO }}">{{ item.LFCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='LFSHP'><div>Leaflet shape:</div><div>
                    <select>
                        <option value="">* LFSHP *</option>
                        {% for item in related.LFSHP %}
                            <option value="{{ item.REFNO }}">{{ item.LFSHP }}</option>
                        {% endfor %}
                    </select></div></div>
        </section>
        <section id="section-line-2">
            <div data-type='DFLO'><div>Days to flowering:</div><div><input type="number" step="1" min="0" placeholder="DFLO" /></div></div>
            <div data-type='RACPOS'><div>Raceme position:</div><div>
                    <select>
                        <option value="">* RACPOS *</option>
                        {% for item in related.RACPOS %}
                            <option value="{{ item.REFNO }}">{{ item.RACPOS }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='FLCOL'><div>Flower color:</div><div>
                    <select>
                        <option value="">* FLCOL *</option>
                        {% for item in related.FLCOL %}
                            <option value="{{ item.REFNO }}">{{ item.FLCOL }}</option>
                        {% endfor %}
                    </select></div></div>
        </section>
        <section id="section-line-3">
            <div data-type='DFMAT'><div>Days to first mature pods:</div><div><input type="number" step="1" min="0" placeholder="DFMAT" /></div></div>
            <div data-type='PAPED'><div>Pod attachment to peduncle:</div><div>
                    <select>
                        <option value="">* PAPED *</option>
                        {% for item in related.PAPED %}
                            <option value="{{ item.REFNO }}">{{ item.PAPED }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='IMPPIG'><div>Immature (fresh) pod pigmentation:</div><div>
                    <select>
                        <option value="">* IMPPIG *</option>
                        {% for item in related.IMPPIG %}
                            <option value="{{ item.REFNO }}">{{ item.IMPPIG }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='FRES_PDCOL'><div>Immature (fresh) pod color:</div><div>
                    <select>
                        <option value="">* FRES_PDCOL *</option>
                        {% for item in related.FRES_PDCOL %}
                            <option value="{{ item.REFNO }}">{{ item.FRES_PDCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='PDCURV'><div>Pod curvature:</div><div>
                    <select>
                        <option value="">* PDCURV *</option>
                        {% for item in related.PDCURV %}
                            <option value="{{ item.REFNO }}">{{ item.PDCURV }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='PDLEN'><div>Mature pod length (cm):</div><div><input type="number" step="0.01" min="0" placeholder="PDLEN" /></div></div>
            <div data-type='PDWID'><div>Mature pod width (mm):</div><div><input type="number" step="0.01" min="0" placeholder="PDWID" /></div></div>
            <div data-type='PDCOL'><div>Mature pod color:</div><div>
                    <select>
                        <option value="">* PDCOL *</option>
                        {% for item in related.PDCOL %}
                            <option value="{{ item.REFNO }}">{{ item.PDCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='NOLOCU'><div>Number of locules per pod:</div><div><input type="number" step="0.01" min="0" placeholder="NOLOCU" /></div></div>
            <div data-type='NOPPED'><div>Number of pods per peduncle:</div><div><input type="number" step="0.01" min="0" placeholder="NOPPED" /></div></div>
            <div data-type='NOPLT'><div>Number of pods per plant:</div><div><input type="number" step="0.01" min="0" placeholder="NOPLT" /></div></div>
        </section>
        <section id="section-line-4">
            <div data-type='SDCOL'><div>Seed color:</div><div>
                    <select>
                        <option value="">* SDCOL *</option>
                        {% for item in related.SDCOL %}
                            <option value="{{ item.REFNO }}">{{ item.SDCOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='SDSHP'><div>Seed shape:</div><div>
                    <select>
                        <option value="">* SDSHP *</option>
                        {% for item in related.SDSHP %}
                            <option value="{{ item.REFNO }}">{{ item.SDSHP }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='EYECOL'><div>Eye color:</div><div>
                    <select>
                        <option value="">* EYECOL *</option>
                        {% for item in related.EYECOL %}
                            <option value="{{ item.REFNO }}">{{ item.EYECOL }}</option>
                        {% endfor %}
                    </select></div></div>
            <div data-type='SDLEN'><div>Seed length (mm):</div><div><input type="number" step="0.01" min="0" placeholder="SDLEN" /></div></div>
            <div data-type='SDWID'><div>Seed width (mm):</div><div><input type="number" step="0.01" min="0" placeholder="SDWID" /></div></div>
            <div data-type='SDWT'><div>100 seeds weight (gm):</div><div><input type="number" step="0.01" min="0" placeholder="SDWT" /></div></div>
        </section>
        {% if SESSION.user.JURISDICTION == 0 %}
            <section id="section-line-5">
                {% embed "/manager/db/editors/picture/picture.html.twig" %}
                {% endembed %}
            </section>
        {% endif %}
    </div><!-- /content -->
</div><!-- /tabs -->